In [1]:
 from sklearn.datasets import load_iris
 from sklearn.tree import DecisionTreeClassifier
 
 iris = load_iris()
 X = iris.data[:, 2:] # petal length and width
 y = iris.target
 
 tree_clf = DecisionTreeClassifier(max_depth=2)
 tree_clf.fit(X, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=2, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [5]:
 from sklearn.tree import export_graphviz
 
 export_graphviz(
         tree_clf,
     out_file="/Users/sandra/Desktop/DataScience2020/ESA11/iris_tree.dot",
         feature_names=iris.feature_names[2:],
         class_names=iris.target_names,
         rounded=True,
         filled=True
 )

In [43]:
import numpy as np
import pandas as pd
file = "/Users/sandra/Desktop/DataScience2020/ESA11/buys_pc_int.csv"
df = pd.read_csv(file, sep=';')

    Age  Income  Student  Excellent_credit_rating Buys_computer
0    25      10    False                    False            No
1    25      10    False                     True            No
2    35      10    False                    False           Yes
3    45       5    False                    False           Yes
4    45       1     True                    False           Yes
5    45       1     True                     True            No
6    35       1     True                     True           Yes
7    25       5    False                    False            No
8    25       1     True                    False           Yes
9    45       5     True                    False           Yes
10   25       5     True                     True           Yes
11   35       5    False                     True           Yes
12   35      10     True                    False           Yes
13   45       5    False                     True            No
14   25       5    False                     True            No
15   25       1    False                    False            No
16   25       1    False                     True            No
17   35       1     True                    False           Yes
18   45       5     True                     True           Yes
19   35      10    False                     True           Yes

In [46]:
X=df[['Age','Income', 'Student', 'Excellent_credit_rating']]
y=df['Buys_computer']
tree2_clf = DecisionTreeClassifier(max_depth=5)
tree2_clf.fit(X, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [48]:
 export_graphviz(
         tree2_clf,
     out_file="/Users/sandra/Desktop/DataScience2020/ESA11/buys_pc.dot",
         feature_names=['Age','Income', 'Student', 'Excellent_credit_rating'],
         class_names=['Yes', 'No'],
         filled=True
 )